[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/ShakilaNatarajan
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/ShakilaNatarajan
	label-Verified = -1..+1 group user/ShakilaNatarajan
	push = group user/ShakilaNatarajan
	read = group user/ShakilaNatarajan
	rebase = group user/ShakilaNatarajan
	removeReviewer = group user/ShakilaNatarajan
	submit = group user/ShakilaNatarajan
[access "refs/heads/*"]
	create = group user/ShakilaNatarajan
	push = +force group user/ShakilaNatarajan
	pushMerge = group user/ShakilaNatarajan
	read = group user/ShakilaNatarajan
[access "refs/tags/*"]
	push = group user/ShakilaNatarajan
	push = +force group user/ShakilaNatarajan
